{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/app-cadLivros.css' %}">
{% endblock %}

{% block 'content' %}
<div class="container">
    <form method="POST">
        {% csrf_token %}

        {% for field in formulario %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="error">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit">Mardar duvida</button>
    </form>
</div>

<a href="{% url 'url_viewAjuda' %}">Ir para os vizualizações.</a>

{% endblock %}