{% extends 'base.html' %}
{% load static %}

{% block title %} Cadastrar livro {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/app-cadCategoria.css' %}">
{% endblock %}

{% block 'content' %}
<div class="container">
    <form method="post" enctype="multipart/form-data" class="form-box">
        {% csrf_token %}

        {% for field in formulario %}

        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="error">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="button">Confirmar</button>
    </form>
</div>
{% endblock %}