{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastrar Livro{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/app-cadLivros.css' %}">
{% endblock %}

{% block 'content' %}
<div class="container">
    <h1 class="title">Cadastrar Livro</h1>

    <form method="post" enctype="multipart/form-data" class="form-box">
        {% csrf_token %}
        
        {% for field in formulario %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="error">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="button">Confirmar</button>
    </form>
</div>
{% endblock %}





