{% extends 'base.html' %}
{% load static %}

{% block title %} Livros - Back Biblioteca {% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'css/app-livros.css' %}"> {% endblock %}

{% block 'content' %}
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="text-button">
            <h1 class="title">Nossos Livros</h1>
            {% if livros %}
                <div class="container-button-top">
                    <button class="button-add-top"><a href="{% url 'url_cadastrar' %}">+</a></button>
                </div>
            {% endif %}
        </div>

        <div class="livros">

            {% for livro in livros %}
            
            <div class="card">
                <h4 class="title-card">{{livro.nome_do_livro}}</h4>
                <img class="img-card" src="{{livro.capa_do_livro.url}}" alt="image">
                <p class="autor-card">{{livro.nome_do_autor}}</p>
                <p class="description">{{livro.data_lancamento}}</p>
                <button class="button-view"><a href="{% url 'url_viewLivro' livro.pk %}">Visualizar</a></button>
            </div>
            
            {% empty %}
            
            <p class="book-cad">Não ha livros cadastrados.</p>
            <div class="container-button">
                <button class="button-add"><a href="{% url 'url_cadastrar' %}">+</a></button>
                <p class="button-desc">Cadastrar livro</p>
            </div>
            
            {% endfor %}
            
        </div>

    </body>
    </html>
{% endblock %}