{% extends 'base.html' %}
{% load static %}

{% block title %}  - Back Biblioteca {% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'css/app-viewLivro.css' %}"> {% endblock %}

{% block 'content' %}
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="flex">
                <img class="image" src="{{livro_encontrado.capa_do_livro.url}}" alt="livro">
                <div class="texts">
                    <h2 class="title">{{livro_encontrado.nome_do_livro}}</h2>
                    <p class="category">Categoria: <span>Infantil</span></p>
                    <button class="read">Quero Ler</button>
                    <button type="submit" class="excluir">Excluir</button>
                </div>
            </div>
            
            
        </div>
    </body>
    </html>
{% endblock %}