{% extends 'base.html' %}
{% load static %}

{% block title %} Livros - Back Biblioteca {% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'css/app-viewCategoria.css' %}"> {% endblock %}

{% block 'content' %}
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <h1 class="title">{{categoria.nome}}</h1>
        <hr>

        {% for livro in buscar_por_livros %}
        <div class="card">
            <h4 class="title-card">{{livro.nome_do_livro}}</h4>
            <img class="img-card" src="{{livro.capa_do_livro.url}}" alt="image">
            <p class="autor-card">{{livro.nome_do_autor}}</p>
            <p class="description">{{livro.data_lancamento}}</p>
            <button class="button-view"><a href="{% url 'url_viewLivro' livro.pk %}">Visualizar</a></button>
        </div>
        {% empty %}
        <h1 class="title">Sem livros nesta categoria!</h1>
        {% endfor %}
        
    </body>
    </html>
{% endblock %}